.MobileFooter{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: .4rem;
    text-align: center;
    background-color: #000;
    color: #fff;
    opacity: .9;
    z-index: 10;
}
.Footer{
    display: flex;
    justify-content: space-around;
}
.Footer .Contents{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Footer .Contents:hover .Icon, .Footer .Contents:hover .Title{
    color: #fff;
}
.Footer .Contents .Icon{
    font-size: 1.7rem;
    color: #999797;
}
.Footer .Contents .Title{
    font-size: .7rem;
    color: #999797;
}
@media (min-width:768px){
    .MobileFooter{
        display: none;
    }
}