.Sidebar {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #000;
  padding: 1rem;
}
.Spotify {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}
.Spotify img {
  width: 2rem;
}
.Spotify .Heading {
  font-size: 1.5rem;
  font-weight: 600;
}

.SidebarLists > * {
  margin-bottom: 0.5rem;
}
.sidebar-list {
  display: flex;
  align-items: center;
}
.sidebar-list .icon {
  margin-right: 0.5rem;
}
.sidebar-list .name {
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  opacity: 0.8;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}
.sidebar-list .name:hover {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
