footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  text-align: center;
}
footer .MusicPlayer {
  display: grid;
  grid-template-columns: 1fr 1.5fr 0.5fr;
  align-items: center;
  background-color: #000;
  color: #fff;
  margin: 0 1rem;
}
footer .MusicPlayer img {
  width: 5rem;
}
footer .MusicPlayer .LeftBox {
  display: flex;
  align-items: center;
}
.LeftBox .SongName small{
  float: left;
  color: #ccc;
  transition: all .2s ease-in-out;
}
.LeftBox .Icon:hover {
  color: green;
  transition: all .2s ease-in-out;
}
footer .MusicPlayer .LeftBox > * {
  margin-right: 1rem;
}
.MiddleBox {
  position: relative;
  display: flex;
  flex-direction: column;
}
.MiddleBox  .MusicBottons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -.8rem;
  cursor: pointer;
}
.MiddleBox .MusicBottons .Icon {
  font-size: 1.5rem;
  color: #999797;
  margin: 0 .3rem;
  transition: all .3s ease-in-out;
}
.MiddleBox .MusicBottons .Icon:hover {
  color: #fff;
  transition: all .3s ease-in-out;
}
.MiddleBox .MusicBottons .Play {
  color: #fff;
  font-size: 2.3rem;
}
.ProgressBar {
  border-radius: 7px;
  width: 80%;
  height: 2px;
}
.ProgressBar2 {
  border-radius: 7px;
  height: 2px;
  margin-bottom: .4rem;
}
.ProgressBar::-webkit-progress-bar {
  background-color: rgb(152, 152, 152);
  border-radius: 7px;
}

.ProgressBar2::-webkit-progress-bar {
  background-color: rgb(152, 152, 152);
  border-radius: 7px;
}
.ProgressBar::-webkit-progress-value {
  background-color: #fff;
  border-radius: 7px;
}
.ProgressBar2::-webkit-progress-value {
  background-color: #fff;
  border-radius: 7px;
}
.MusicPlayer .RightBox {
  display: flex;
  justify-content: center;
}
.MusicPlayer .RightBox > * {
  margin-right: 0.5rem;
}

.MusicPlayer .RightBox .RightIcon {
  font-size: 1.2rem;
  color: #999797;
  transition: all .3s ease-in-out;
  cursor: pointer;
}
.MusicPlayer .RightBox .RightIcon:hover {
  color: #fff;
  transition: all .3s ease-in-out;
}


@media (max-width:768px){
  footer{
    display: none;
  }
}